<div class="container d-flex mt-4 mb-4">
  <h4 class="bg-light">選手投稿一覧</h4>
</div>

<div class="container">
  <div class="row">
    <div class="search-form col-3">
      <%= form_with url: player_search_path, method: :get, local: true do |f| %>
        <%= f.text_field :keyword, value: @keyword %>
        <%= f.submit "検索" %>
      <% end %>
    </div>

    <div class="col-7">
      <ul class="recruit-list">
        <% @player_posts.each do |player_post| %>
          <% unless player_post.user.is_deleted == true %>
            <li class="recruit new_rec">
              <h4 class="align-middle mt-3">
                <%= link_to player_post.title, player_post_path(player_post) %>
              </h4>
              <div class="author">
                投稿者:
                <% if player_post.user.nickname.present? %>
                  <%= link_to player_post.user.nickname, player_path(player_post.user) %>
                <% else %>
                  <%= link_to player_path(player_post.user) do %>
                    <%= player_post.user.last_name %> <%= player_post.user.first_name %>
                  <% end %>
                <% end %>
              </div>
              <ol class="sub pb-2">
                <li>投稿種類: <%= player_post.post_type_i18n %></li>
                <li>活動場所: <%= player_post.prefecture %> > <%= player_post.city %></li>
              </ol>
              <div>
                <% if user_signed_in? %>
                <ol class="text-l">
                  <% player_post.tags.each do |tag| %>
                    <span class="tag"><%= link_to tag.name, player_tag_search_path(tag_id: tag.id) %></span>
                  <% end %>
                </ol>
                <h5 class="text-r heart mb-3">
                  お気に入り
                  <% if current_user.already_player_favorited?(player_post) %>
                    <%= link_to player_post_favorite_players_path(player_post), method: :delete do %>
                      <i class="fas fa-heart"></i>
                    <% end %>
                  <% else %>
                    <%= link_to player_post_favorite_players_path(player_post), method: :post do %>
                      <i class="far fa-heart"></i>
                    <% end %>
                  <% end %>
                </h5>
              <% else %>
                <h5 class="mb-3">
                  <% player_post.tags.each do |tag| %>
                    <span class="tag"><%= link_to tag.name, player_tag_search_path(tag_id: tag.id) %></span>
                  <% end %>
                </h5>
              <% end %>
              </div>
            </li>
          <% end %>
        <% end %>
        <%= paginate @player_posts %>
      </ul>
    </div>
  </div>
</div>
