<p id="notice"></p>
<div class="container mt-4">
  <div class="d-flex">
    <h4 class="bg-light">選手投稿</h4>
  </div>
</div>
<div class="container">
<% if @player_post.errors.any? %>
  <h3><%= @player_post.errors.count %> 件のエラーが発生しました。</h3>
  <ul>
    <% @player_post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
</div>

<%= form_with model: @player_post, url: player_posts_path, method: :post do |f| %>
<div class="container" style="width: 50%">
  <div class="align-items-center justify-content-center">
    <div class="row">
        <table class="table">
          <tr>
            <th>タイトル<span> ※必須</span></th><td><%= f.text_field :title, placeholder: "ピッチャーとして入団希望しています", style: "width: 80%" %></td>
          </tr>
          <tr>
            <th style="width: 30%">本文<span> ※必須</span></th><td style="width: 40%"><%= f.text_area :content, placeholder: "本文", style: "width: 70%", rows: 5 %></td>
          </tr>
          <tr>
            <th>投稿種類<span> ※必須</span></th><td><%= f.select :post_type, PlayerPost.post_types.keys.map {|k| [I18n.t("enums.player_post.post_type.#{k}"), k]}, { prompt: "選択してください" } %></td>
          </tr>
          <tr>
            <th>活動都道府県<span> ※必須</span></th><td><%= f.text_field :prefecture, placeholder: "(例)東京都" %></td>
          </tr>
          <tr>
            <th>活動都市</th><td><%= f.text_field :city, placeholder: "(例)日野市" %></td>
          </tr>
          <tr>
            <th>ポジション<span> ※必須</span></th><td><%= f.text_field :position, placeholder: "(例)ピッチャー" %></td>
          </tr>
          <tr>
            <th>タグ(タグ間は半角スペース)</th><td><%= f.text_field :name, placeholder: "(例) エンジョイ 初心者歓迎", style: "width: 90%" %></td>
          </tr>
        </table>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-center">
    <%= f.submit "新規登録", class: "btn btn-success" %>
  </div>

</div>
  <%= f.hidden_field :user_id, :value => current_user.id %>
<% end %>