<div class="container d-flex mt-4 mb-4">
  <h4 class="bg-light">チーム投稿一覧</h4>
  <div class="search-form">
    <%= form_with url: search_path, method: :get, local: true do |f| %>
      <%= f.text_field :keyword, value: @keyword %>
      <%= f.submit "検索" %>
    <% end %>
  </div>
</div>


<div class="d-flex ml-4">
  <table class="table table-bordered" style="width: 85%">
    <thead class="bg-light">
      <tr>
        <th>チーム名</th>
        <th>本文</th>
        <th>投稿種類</th>
        <th>活動エリア</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @team_posts.each do |team_post| %>
        <td class="align-middle"><%= team_post.team.name %></td>
        <td class="align-middle"><%= link_to team_post.content, team_post_path(team_post) %></td>
        <td class="align-middle"><%= team_post.post_type_i18n %></td>
        <td class="align-middle"><%= team_post.area %></td>
        <td class="align-middle">
          <% if current_user.already_favorited?(team_post) %>
            <%= link_to team_post_favorite_teams_path(team_post), method: :delete do %>
              <i class="fas fa-heart"></i>
            <% end %>
          <% else %>
            <%= link_to team_post_favorite_teams_path(team_post), method: :post do %>
              <i class="far fa-heart"></i>
            <% end %>
          <% end %>
          <%= team_post.favorite_teams.count %>
        </td>
        <td>
          <% team_post.tags.each do |tag| %>
            <span><%= link_to tag.name, tag_search_path(tag_id: tag.id) %></span>
          <% end %>
        </td>
      </tr>
        <% end %>
    </tbody>
  </table>
</div>