<p id="notice"></p>
<div class="container d-flex mt-4">
  <h4 class="bg-light">プロフィール編集画面</h4>
</div>

<%= form_with model: @user, url: admin_player_path(@user), method: :patch do |f| %>
 <div class="container mb-5" style="width: 80%">
  <div class="align-items-center justify-content-center">
    <div class="row">
      <table class="table table-borderless">
        <tr>
          <th>プロフィール画像</th>
          <td><%= f.file_field :image, accept: "image/*" %></td>
        </tr>
        <tr>
          <th>ニックネーム</th>
          <td><%= f.text_field :nickname %></td>
        </tr>
        <tr>
          <th>年齢</th>
          <td>
            <%= f.select :age, *[18..80], { prompt: "選択してください" } %>
          </td>
        </tr>
        <tr>
          <th>自己紹介</th>
          <td>
            <%= f.text_area :introduction, style: "width: 70%", rows: 5 %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="d-flex align-items-center justify-content-center">
    <div class="mr-4">
      <%= f.submit "　プロフィールを更新する　", class: "btn btn-success" %>
    </div>
  </div>
</div>
<% end %>

