<div class="container d-flex mt-4 mb-4">
  <h4 class="bg-light">チーム投稿一覧</h4>
</div>

<div class="container">
  <div class="row">
    <div class="search-form col-3">
      <%= form_with url: team_search_path, method: :get, local: true do |f| %>
        <%= f.text_field :keyword, value: @keyword %>
        <%= f.submit "検索" %>
      <% end %>
    </div>

    <div class="col-7">
      <ul class="recruit-list">
        <% @team_posts.each do |team_post| %>
          <li class="recruit new_rec">
            <h4 class="align-middle title">
              <%= link_to team_post.title, team_post_path(team_post) %>
            </h4>
            <div class="author">チーム名: <%= link_to team_post.team.name, team_path(team_post.team.id) %></div>
            <ol class="sub pb-2">
              <li>投稿種類: <%= team_post.post_type_i18n %></li>
              <li>活動場所: <%= team_post.prefecture %> > <%= team_post.city %></li>
            </ol>
            <div>
              <ol class="text-l">
                <% team_post.tags.each do |tag| %>
                  <span class="tag"><%= link_to tag.name, team_tag_search_path(tag_id: tag.id) %></span>
                <% end %>
              </ol>
              <h5 class="text-r heart">
                お気に入り
                <% if current_user.already_team_favorited?(team_post) %>
                  <%= link_to team_post_favorite_teams_path(team_post), method: :delete do %>
                    <i class="fas fa-heart"></i>
                  <% end %>
                <% else %>
                  <%= link_to team_post_favorite_teams_path(team_post), method: :post do %>
                    <i class="far fa-heart"></i>
                  <% end %>
                <% end %>
              </h5>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
