<p id="notice"></p>
<div class="container d-flex mt-4 mb-3">
  <h4 class="bg-light">投稿内容詳細</h4>
</div>

<div class="container mb-4">
  <div class="row">
    <div class="col-5">
      <% if @team_post.team.image.attached? %>
        <%= image_tag @team_post.team.image, size: "200x200" %>
      <% else %>
        <%= image_tag 'default-image', size: "200x200" %>
      <% end %>
    </div>
    <div class="col-6">
      <h5>
      <% if user_signed_in? %>
        お気に入り
        <% if current_user.already_team_favorited?(@team_post) %>
          <%= link_to team_post_favorite_teams_path(@team_post), method: :delete do %>
            <i class="fas fa-heart"></i>
          <% end %>
        <% else %>
          <%= link_to team_post_favorite_teams_path(@team_post), method: :post do %>
            <i class="far fa-heart"></i>
          <% end %>
        <% end %>
      <% end %>
      </h5>
      <table class="table">
        <tr>
          <th style="width :25%">チーム名</th><td><%= @team_post.team.name %></td>
        </tr>
        <tr>
          <th>投稿者</th><td><%= @team_post.team.user.last_name %></td>
        </tr>
        <tr>
          <th>投稿種類</th><td><%= @team_post.post_type_i18n %></td>
        </tr>
        <tr>
          <th>活動エリア</th><td><%= @team_post.prefecture %> > <%= @team_post.city %></td>
        </tr>
        <tr>
          <th>本文</th><td><%= @team_post.content %></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class"container mt-4">
  <div class="d-flex align-items-center justify-content-center">
    <% if user_signed_in? %>
      <% if @team_post.team.user.id == current_user.id %>
        <%= form_with model: @team_post, url: team_post_path, method: :delete do |f| %>
          <%= f.submit "コメントを削除する", class: "btn btn-danger" %>
        <% end %>
      <% end %>
      <% unless @user.id == current_user.id %>
        <% if @isRoom == true %>
          <%= link_to "メッセージを送る", room_path(@roomId), class: "btn btn-primary" %>
        <% else %>
          <%= form_with model: @room, url: rooms_path, method: :post do |f| %>
            <%= fields_for @enter do |e| %>
              <%= e.hidden_field :user_id, value: @user.id %>
            <% end %>
            <%= f.submit "メッセージを送る", class: "btn btn-primary" %>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to "メッセージを送る", new_user_session_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
