<div class="container d-flex mt-4 mb-4">
  <h4 class="bg-light">メッセージ一覧</h4>
</div>

<div class="container">
  <div class="row">
    <div class="search-form col-3">
      <%= form_with url: team_search_path, method: :get, local: true do |f| %>
        <%= f.text_field :keyword, value: @keyword %>
        <%= f.submit "検索" %>
      <% end %>
    </div>
    <div class="col-7">
      <div class="message-list pb-3"></div>
      <% @rooms.each do |room| %>
        <%= link_to admin_room_path(room) do %>
        <div class="message new_rec mb-10">
          <div class="mb-3">
          <% room.enters.each do |enter| %>
            <div class="d-flex mb-3">
              <div>
                <% if enter.user.image.attached? %>
                  <%= image_tag enter.user.image, size: "45x45" %>
                <% else %>
                  <%= image_tag "default-image", size: "45x45" %>
                <% end %>
              </div>
              <div>
                <% if enter.user.nickname.present? %>
                  <%= enter.user.nickname %>
                <% else %>
                  <%= enter.user.last_name %> <%= enter.user.first_name %>
                <% end %>
              </div>
            </div>
          <% end %>
          </div>
          <div>
            <%= room.messages.order(created_at: :desc).take.try(:content) %>
          </div>
        </div>
        <% end %>
      <% end %>
      <%= paginate @rooms %>
    </div>
  </div>
</div>
