<div class="container d-flex mt-4 mb-4">
  <h4 class="bg-light">メッセージ一覧</h4>
</div>

<div class="container">
  <div class="row">
    <div class="search-form col-3">
      <%= form_with url: team_search_path, method: :get, local: true do |f| %>
        <%= f.text_field :keyword, value: @keyword %>
        <%= f.submit "検索" %>
      <% end %>
    </div>
    <div class="col-7">
      <ul class="message-list">
        <% @another_enters.each do |another_enter| %>
          <%= link_to room_path(another_enter.room.id) do %>
          <li class="message new_rec">
            <div class="align-middle mt-3">
              <% if another_enter.user.image.attached? %>
                <%= image_tag another_enter.user.image, size: "30x30" %>
              <% else %>
                <%= image_tag "default-image", size: "30x30" %>
              <% end %>
            </div>
            <div class="author">
              <% if another_enter.user.nickname.present? %>
                <%= another_enter.user.nickname %>
              <% else %>
                <%= another_enter.user.last_name %> <%= another_enter.user.first_name %>
              <% end %>
            </div>
            <ol class="sub pb-2">
              <li></li>
              <li></li>
            </ol>
          </li>
          <li>
            <div class="message">
              <div>
                <div class="d-flex">
                  <div class="">
                    <object>
                    </object>
                  </div>
                  <div class="">
                    <%= another_enter.user.last_name %>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
