<div class="container">
  <div class="left-button">
    <%= link_to "メッセージ一覧に戻る", rooms_path, class: "edit_link" %>
  </div>
  <h4 class="rooms-title">メッセージ相手</h4>
  <% @enters.each do |enter| %>
    <div class="d-flex">
      <% if enter.user == current_user %>
      <% else %>
        <div>
          <% if enter.user.image.attached? %>
            <%= image_tag enter.user.image, class:"user-image", size: "100x100" %>
          <% else %>
            <%= image_tag "default-image", class:"user-image", size: "100x100" %>
          <% end %>
        </div>
          <div>
            <% if enter.user.nickname.present? %>
              <%= link_to player_path(enter.user) do %>
                <%= enter.user.last_name %> <%= enter.user.first_name %>(<%= enter.user.nickname %>)
              <% end %>
            <% else %>
              <%= link_to player_path(enter.user) do %>
                <%= enter.user.last_name %> <%= enter.user.first_name %>
              <% end %>
            <% end %>
          </div>
      <% end %>
    </div>
  <% end %>
  <hr>
  <div class="chats">
    <div class="chat">
      <% if @messages.present? %>
        <% @messages.each do |message| %>
          <div class="mb-20">
            <% if message.user == current_user %>
              <div class="d-flex">
                <div class="pad-left"></div>
                <div class="width-font right">
                  <div class="width-font mr-3"> <strong><%= message.content %></strong></div>
                </div>
                <div class="image-right">
                  <% if message.user.image.attached? %>
                    <%= image_tag message.user.image, class:"user-image", size: "35x35" %>
                  <% else %>
                    <%= image_tag "default-image", class:"user-image", size: "35x35" %>
                  <% end %>
                </div>
              </div>
              <div class="date mr-50"><%= message.created_at.strftime("%Y-%m-%d %H:%M") %></div>
            <% else %>
              <div class="d-flex">
                <div class="mr-3">
                  <% if message.user.image.attached? %>
                    <%= image_tag message.user.image, class:"user-image", size: "35x35" %>
                  <% else %>
                    <%= image_tag "default-image", class:"user-image", size: "35x35" %>
                  <% end %>
                </div>
                <div class=""> <strong><%= message.content %></strong></div>
                <div class="pad-right"></div>
              </div>
              <div class="ml-50"><%= message.created_at.strftime("%Y-%m-%d %H:%M") %></div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="posts">
      <%= form_with model: @message do |f| %>
        <%= f.text_area :content, placeholder: "メッセージを入力して下さい" , style: "width: 70%", rows: 3, class:"form-text-field" %>
          <%= f.hidden_field :room_id, value: @room.id %>
            <%= f.submit "送信",class: 'form-submit'%>
      <% end %>
    </div>
  </div>
</div>