<div class="container d-flex mt-4 mb-4">
  <h4 class="bg-light">お気に入り選手投稿一覧</h4>
</div>

<div class="container">
  <div class="row">
    <div class="search-form col-3"></div>

    <div class="col-7">
      <ul class="recruit-list">
        <% @favorite_players.each do |favorite_player| %>
          <li class="recruit new_rec">
            <h4 class="align-middle mt-3">
              <%= link_to favorite_player.player_post.title, player_post_path(favorite_player.player_post) %>
            </h4>
            <div class="author">投稿者: <%= link_to favorite_player.player_post.user.nickname, player_path(favorite_player.player_post.user_id) %></div>
            <ol class="sub pb-2">
              <li>投稿種類: <%= favorite_player.player_post.post_type_i18n %></li>
              <li>活動場所: <%= favorite_player.player_post.prefecture %> > <%= favorite_player.player_post.city %></li>
            </ol>
            <div>
              <ol class="text-l">
                <% favorite_player.player_post.tags.each do |tag| %>
                  <span class="tag"><%= link_to tag.name, player_tag_search_path(tag_id: tag.id) %></span>
                <% end %>
              </ol>
              <h5 class="text-r heart">
                お気に入り
                <% if current_user.already_player_favorited?(favorite_player.player_post) %>
                  <%= link_to player_post_favorite_players_path(favorite_player.player_post), method: :delete do %>
                    <i class="fas fa-heart"></i>
                  <% end %>
                <% else %>
                  <%= link_to player_post_favorite_players_path(favorite_player.player_post), method: :post do %>
                    <i class="far fa-heart"></i>
                  <% end %>
                <% end %>
              </h5>
            </div>
          </li>
        <% end %>
        <%= paginate @favorite_players %>
      </ul>
    </div>
  </div>
</div>
