<p id="notice"></p>
<div class="container d-flex mt-4">
  <h4 class="bg-light">
    <% if @user.nickname.present? %>
      <%= @user.nickname %>さんのプロフィール
    <% else %>
      <%= @user.last_name %><%= @user.first_name %>さんのプロフィール
    <% end %>
  </h4>
</div>

 <div class="container mb-5" style="width: 80%">
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-7">
      <table class="table table-borderless">
        <tr>
          <th style="width: 30%">名前</th>
          <td style="width: 10%">
            <%= @user.last_name %> <%= @user.first_name %>
          </td>
        </tr>
        <tr>
          <th>フリガナ</th>
          <td>
            <%= @user.last_name %> <%= @user.first_name %>
          </td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td>
            <%= @user.email %>
          </td>
        </tr>
        <tr>
          <th>電話番号(ハイフンなし)</th>
          <td>
            <%= @user.telephone_number %>
          </td>
        </tr>
        <tr>
          <th>年齢</th>
          <td>
            <%= @user.age %>
          </td>
        </tr>
        <tr>
          <th>性別</th>
          <td>
            <%= @user.sex_i18n %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="d-flex align-items-center justify-content-center">
    <%= link_to "編集する", edit_user_path(current_user), class: "btn btn-success" %>
  </div>
</div>