<!DOCTYPE html>
<html>
  <head>
    <title>BaseballMate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p id="notice"></p>
    <header class="border-bottom">
      <div class="container">
        <div class="row d-flex">
          <div class="mr-auto"><%= link_to "Baseballmate", root_path, class: "btn", style: "height: 40px" %></div>
          <div class="ml-4">
          <% if !user_signed_in? && !admin_signed_in? %>
            <%= link_to "ログイン", new_user_registration_path, method: :get, class:"btn border" %>
          <% end %>
          <% if user_signed_in? && !admin_signed_in? %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn border" %>
          <% end %>
          </div>
        </div>
        <div class="row d-flex" style="height:50">
          <%= link_to "チーム投稿", team_post_index_path, class:"btn" %>
          <%= link_to "選手投稿", player_post_index_path, class:"btn" %>
        <% if user_signed_in? && !admin_signed_in? %>
          <%= link_to "マイページ", user_path(current_user.id), class:"btn" %>
        <% end %>

        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
